<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSK - Panel</title>
    <% include ../partials/libraries.ejs %>
    <style>
        #orderButton{
            position: fixed;
            right: 20px;
            bottom: 20px;
        }

        .grid-container{
            display: flex;
            justify-content: space-between;
            margin: 10px 50px;
        }

        .grid-container2{
            margin: 20px auto;
            text-align: center;
        }

        .table{
            max-width: 50%;
            margin: 0 auto;
        }

        @media (max-width: 700px) {
            .table{
                max-width: 100%;
            }
        }

        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px solid black;
        }

        .row > div{
            width: 60%;
        }

        .row > div:first-child{
            max-width: 200px;
        }

        .row:first-child{
            border-bottom: 3px solid black;
            font-weight: bold;
        }

        .row:nth-child(2n){
            background-color: aliceblue;
        }

        .newline{
            display: block;
        }

    </style>
</head>
<body>

<div class="grid-container">
    <div>Login as: <%= user.username%> </div>
    <div>
        <% if(user.isAdmin){ %>
        <button onclick="location.pathname='/adminPanel'">admin panel</button>
        <%}%>
        <button onclick="location.pathname='/panel'">panel</button>
        <button onclick="logout()">Logout</button>
    </div>
</div>

<div class="grid-container2">
    <div class="table">
        <div class="row">
            <div>Order id</div>
            <div>Books</div>
        </div>
        <% orders.forEach(function (order) { %>
        <div class="row">
            <div><%=order.id%></div>
            <div>
                <ul>
                <% order.books.forEach(function (book) { %>
                    <li><%= book.title%></li>
                 <%});%>
                </ul>
            </div>
        </div>
        <%});%>
    </div>
</div>

<script>
    function logout() {
        axios.get('/logout')
            .then(function (response) {
                console.log(response);
                window.location.pathname = '/';
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>

</body>
</html>