<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSK - Panel</title>
    <% include ../partials/libraries.ejs %>
    <style>
        .grid-container{
            display: flex;
            justify-content: space-between;
            margin: 10px 50px;
        }

    </style>
</head>
<body>

<div class="grid-container">
    <div>Zalogowano jako: <%= user.username%> </div>
    <div>
        <% if(user.isAdmin){ %>
        <button onclick="location.pathname='/adminPanel'">admin panel</button>
        <%}%>
        <button onclick="logout()">Wyloguj</button>
    </div>
</div>

<script>
    function logout() {
        axios.get('/logout')
            .then(function (response) {
                console.log(response);
                window.location.pathname = '/';
            })
            .catch(function (error) {
                console.log(error);
            });

    }
</script>

</body>
</html>